body {
    margin:0 auto; 
    width:90%;
    max-width:800px; /* taille du header */
    min-width:750px;
}

#img_header {
    background-image:url(../../images/banniere_pc.jpg) ;
    display:block;
    height:200px;
    width:1000px;
    background-repeat:no-repeat;
}

nav ul {
    width: 100%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 3em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Courier Normal', 'Arial';
}

nav ul li a:hover {
    background-color: crimson;
    color: lightcoral;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table tr, table th {
    border-color: brown;
    border-width: 0.2em;
    border-style: solid;
    padding: 0.3em;
}

table td {
    text-align: center;
}

.cellLeft {
    text-align: left;
}

.rowPair td {
    background-color: antiquewhite;
}

.rowImpair td {
    
}

footer {
    margin-top: 2em;
    font-size: 0.5em;
    text-align: right;
}